fastapi==0.115.14
uvicorn[standard]==0.34.0
ultralytics==8.4.75
opencv-python==4.10.0.84
scipy==1.18.0
numpy==2.3.5
python-multipart==0.0.20
imageio==2.37.3
imageio-ffmpeg==0.6.0
inference==1.3.2
boto3==1.41.5
sqlalchemy==2.0.51
psycopg2-binary==2.9.12
